@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  text-decoration: none;
}



body {
 
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(178.1deg, #895bce, rgb(253, 253, 253) 82.4%);

}



html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

